
*{
    font-family: Verdana, 'Times New Roman', Tahoma, sans-serif;
    margin: 0;
    scroll-behavior: smooth;
    
}

body{
    height: 100%;
    width: 100%;
    background-color: #0a0909;
}

#container{
    height: auto;
    width: auto;
}

.interface{
    height: 100vh;
    scroll-snap-type: y mandatory;
   
}

section{
    height: 100vh;
    scroll-snap-align: start;
    position: sticky;

}


/* Navbar */

h1{
    margin-right: auto;
    font-size: 2.2em;
    padding-left: 70px;
    
}

nav{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    
}

#linav{
    font-size: 0.9em;
    color: black;
    
}

#ulnav{
    display: flex;
    list-style: none;
    gap: 2rem;
    }

#lista{
    width: 700px;
    height: 50px;
    font-size: 1.2em;
}

a{
    text-decoration: none;
    color: black;
}

a:visited {
    color: #000; 
    text-decoration: none;
}

a:hover{
    color: #FFBF31;
}



/* Conteudo */
#imagemprincipal{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-10%, -30%);
    width: 600px;
    margin-left: 100px;
    
}

@keyframes mover-cima-baixo {
    0% {
        transform: translateY(0); /* Sem movimento */
    }
    50% {
        transform: translateY(-15px); /* Movimento para cima */
    }
    100% {
        transform: translateY(0); /* Movimento para baixo */
    }
}

#imagemprincipal {
    animation: mover-cima-baixo 2s ease-in-out infinite; 
}

#textoprincipal{
    color: white;
    padding: 350px 0  0 250px;
}

span{
    color: #FFBF31;
    font-weight: bold;
    font-size: 1.3em;
}

p{
    font-size: 1.3em;
    line-height: 1.5;
} 

.textodescricao{
    line-height: 2;
    padding: 200px 0 0 250px;
    color: white;
}


/* Paginas */

#servicos .imagem {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(10%, -10%);
    width: 500px;
    margin-left: 100px;
}

#sobre .imagem {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(10%, -10%);
    width: 500px;
    margin-left: 100px;
}

#contato .imagem {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(10%, -10%);
    width: 700px;
}


footer{
    height: 170px;
    background-color: white;
}

#sociais{
    width: 200px;
    font-size: 2em;
    margin: 0 auto;
}

#lifooter{
    list-style: square;
    line-height: 2;
    width: auto;
}

#ulfooter{
    width: auto
}

/* Botão seta para cima */
#btn-topo {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    z-index: 9999;
    cursor: pointer;
}

#btn-topo:hover {
    color: #FFBF31;
}





/* Barra de rolagem */

::-webkit-scrollbar {
    width: 10px; /* largura da barra */
  }
  
  /* Estilos do trilho */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* cor de fundo */
  }
  
  /* Estilos do botão do indicador */
  ::-webkit-scrollbar-thumb {
    background: #888; /* cor do indicador */
    border-radius: 5px; /* borda do indicador */
  }
  
  /* Estilos do botão do indicador quando houver hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* cor do indicador em hover */
  }




 @media screen and  (max-width: 1800px)  {
    #textoprincipal{
        font-size: 1em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
    }
    #imagemprincipal{
        width: 600px;
        margin-left: 50px;
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 450px;
    }
    #contato .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 600px;
    }
}

@media screen and  (max-width: 1330px)  {
    #textoprincipal{
        font-size: 1em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
        font-size: 1em;
    }
    #imagemprincipal{
        width: 500px;
        margin-left: 100px;
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 450px;
    }
    #contato .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 550px;
        margin-left: 30px;
    }
}

@media screen and  (max-width: 1280px)  {
    #textoprincipal{
        font-size: 0.9em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
        font-size: 1em;
    }
    #imagemprincipal{
        width: 450px;
        margin-left: px;
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 400px;
    }
    #contato .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 500px;
        margin-left: 10px;
    }
}

@media screen and  (max-width: 1129px)  {
    #textoprincipal{
        font-size: 1em;
        padding: 300px 0 0 20px;
        
    }
    .textodescricao{
        padding: 150px 0 0 20px;
        font-size: 1.2em;
    }
    #imagemprincipal{
        top: 55%;
        left: 0;
        transform: translate(10%, -10%);
        width: 500px;
        margin-left: 0px;;
        padding-left: 50px;
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 75%;
        left: 0;
        transform: translate(10%, -10%);
        width: 400px;
        margin-left: 0px;;
    }
    #contato .imagem{
        top: 70%;
        left: 0;
        transform: translate(10%, -10%);
        width: 400px;
        margin-left: 0px;
    }
}



 @media screen and  (max-width: 632px)  {
    #textoprincipal{
        font-size: 0.7em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
        font-size: 1em;
    }
    #imagemprincipal{
        display: none;
    }
    #servicos .imagem,
    #sobre .imagem{
        display: none;
    }
    #contato .imagem{
        display: none;
    }
    h1{
        display: none;
    }



    #linav{
        font-size: 0.9em;
        
        
    }
    
    #ulnav{
        display: flex;
        list-style: none;
        gap: 2rem;
        }
    
    #lista{
        width: 100vh;
        height: 50px;
        font-size: 1em;
    }

} 



/* @media screen and (max-width: 1830px) and (min-width: 1550px)  {
    #textoprincipal{
        font-size: 1em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
    }
    #imagemprincipal{
        width: 600px;
        margin-left: 50px;
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 450px;
    }
    #contato .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 700px;
    }
}


@media screen and (max-width: 1550px) and (min-width: 1415px) {
    #textoprincipal{
        font-size: 1em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
        font-size: 1.2em;
    }
    #imagemprincipal{
        width: 550px;
        
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 450px;
    }
    #contato .imagem{
        top: 20%;
        left: 50%;
        transform: translate(0%, -10%);
        width: 700px;
    }
}

@media screen and (max-width: 1417px) and (min-width: 1330px)  {
    #textoprincipal{
        font-size: 1em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
        font-size: 0.8em;
    }
    #imagemprincipal{
        width: 500px;
        
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 450px;
    }
    #contato .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 600px;
        
    }
}
@media screen and (max-width: 1330px) and (min-width: 1200px)  {
    #textoprincipal{
        font-size: 1em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
        font-size: 1em;
    }
    #imagemprincipal{
        width: 500px;
        
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 400px;
    }
    #contato .imagem{
        top: 20%;
        left: 50%;
        transform: translate(0%, -10%);
        width: 600px;
        
    }
}


@media screen and (max-width: 1200px) and (min-width: 1200px)  {
    #textoprincipal{
        font-size: 1em;
        padding: 300px 0 0 30px;
        
    }
    .textodescricao{
        padding: 150px 0 0 30px;
        font-size: 1em;
    }
    #imagemprincipal{
        width: 500px;
        
    }
    #servicos .imagem,
    #sobre .imagem{
        top: 20%;
        left: 50%;
        transform: translate(10%, -10%);
        width: 400px;
    }
    #contato .imagem{
        top: 20%;
        left: 50%;
        transform: translate(0%, -10%);
        width: 600px;
        
    }
}
 */
