
*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0
}

body{
    height: 100%;
    width: 100%;
    background: linear-gradient(to right, #8400ff, #2600ff)
}

#container{
    height: auto;
    width: auto;
}


/* Navbar */

h1{
    margin-right: auto;
    font-size: 2.2em;
    padding-left: 70px;
}

nav{
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    background-color: white;
    
}

li{
    font-size: 0.9em;
    margin-right: 20px;
    
}

ul{
    display: flex;
    list-style: none;
    
    }

#lista{
    margin-right: 20px;
    width: 500px;
    height: 50px;
    font-size: 1.2em;
    
}

/* Conteudo principal */


img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-10%, -30%);
    width: 600px;
    margin-left: 80px;
    
}

#titulo2{
    color: white;
    padding: 350px 0  0 250px;
}

span{
    color: #FFBF31;
    font-weight: bold;
    font-size: 1.3em;
}

p{
    font-size: 1.2em;
}